<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Testing</title>
    <style>
 td {
    color:blueviolet;
 }
    </style>
</head>
<body>
    <%- include('header.ejs') %>

    <h2 style="color:brown">Todos :</h2>
    <%- include("todos.ejs") %>

    <%- include("footer.ejs") %>
</body>
</html>