<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>To Do App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-color: white;
            font-family: sans-serif;
        }
        .Todo-Item:hover .trash-icon{
            display:block
        }
    </style>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <p class="text-sm py-2">Welcome to The Todo-App</p>
            <p class="text-sm py-2">New Here? <a href="/signup" class="text-green-600">Sign-up now</a></p>
            <p class="text-sm py-2">Already have an account? <a href="/login" class="text-green-600">Sign-in now</a></p>
        </div>
    </div>
</body>
</html>